@import "tailwindcss";

html,body{
  height: 100%;
  width: 100%;
}





@font-face {
    font-family: 'ObviouslyDemo';
    src: url('/src/assets/Fonts/ObviouslyDemo-CondensedBold.ttf');
  }

  @font-face {
    font-family: 'SuisseIntl';
    src: url('/src/assets/Fonts/SuisseIntl-Regular.ttf');
  }

@font-face {
  font-family:'ObviouslyDemoblack' ;
  src: url('/src/assets/Fonts/ObviouslyDemo-NarrowBlack.ttf');
}
@font-face {
  font-family:'ObviouslyDemoCondensedBold' ;
  src: url('/src/assets/Fonts/ObviouslyDemo-CondensedBold.ttf');
}
.ObviouslyDemoblack{
  font-family: 'ObviouslyDemoblack';
}
  /* ObviouslyDemo-NarrowBlack */
.ObviouslyDemo {
  font-family: 'ObviouslyDemo';

}
.SuisseIntl {
    font-family: 'SuisseIntl';
  
  }

.ObviouslyDemoCondensedBold {
    font-family: 'ObviouslyDemoCondensedBold';
  
  }
  
  ::-webkit-scrollbar{
    width: 0%;
  }
